aiohttp
aiosignal
anyio
asgiref
async-timeout
attrs
certifi
charset-normalizer
click
colorama
coverage
dataclasses-json
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
exceptiongroup
fastapi
frozenlist
greenlet
gunicorn
h11
httpcore
httpx
idna
jsonpatch
jsonpointer
langchain
langserve
langsmith
marshmallow
multidict
mypy-extensions
numpy
openai
packaging
pydantic
PyJWT
pytz
PyYAML
redis
requests
sniffio
SQLAlchemy
sqlparse
sse-starlette
starlette
tenacity
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
yarl
django_database_prefix
psycopg2-binary
